{% extends "base.html" %}
{% block title %}
  Create Account | {{ block.super }}
{% endblock title %}
{% block heading_text %}
  Create Account
{% endblock heading_text %}
{% block navbar_auth %}
{% endblock navbar_auth %}
{% block content %}
  <div class="d-flex justify-content-start">
    <div class="col-md-4">
      <form method="post" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"
                class="btn btn-success w-100 d-flex justify-content-center align-items-center">Sign Up</button>
      </form>
      <p class="text-center mt-3 mb-0">
        Already have an account?
        <a href="{% url 'accounts:login' %}">Login</a>
      </p>
    </div>
  </div>
{% endblock content %}
