{% extends "base.html" %}
{% load static %}
{% block title %}
  Post your ad
{% endblock title %}
{% block extra_head %}
  {{ page_context|json_script:'page-context' }}
  <script src="{% static 'ads/js/ad_form.js' %}"></script>
{% endblock extra_head %}
{% block content %}
  <div class="col-md-4">
    <div id="id_ad" data-ad-id="{{ object.id|default_if_none:'' }}"></div>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div id="category_section"></div>
      {{ form.as_p }}
      <h4>Images</h4>
      {{ image_formset.management_form }}
      {% for form in image_formset %}{{ form.as_p }}{% endfor %}
      <div id="location_section"></div>
      <div id="property-container">{% include "ads/partials/property_form.html" %}</div>
      <h4>Your contact (visible to buyers)</h4>
      {{ profile_form.as_p }}
      <a href="{% url 'ads:ad_list' %}" class="btn btn-outline-secondary me-2">Cancel</a>
      <button type="submit"  class="btn btn-success">
        {% if object and object.id %}
          Update
        {% else %}
          Post
        {% endif %}
      </button>
    </form>
  </div>
{% endblock content %}
